*{
    font-family: 'Abel';
}
/* ----------- waiting room -----------------*/
#waiting{
    text-align: center;
}
#room{
    margin-top: 5%;
    font-weight: bold;
}
#players{
    display: inline-block;
    width: 50%;
}
#start{
    background-color: #3d7f50;
    border-color: black;
}
#leave{
    margin-left: 10%;
    background-color: #7e353d;
    border-color: black;
}
.list-group-item{
    border-color: black;
    border-radius: 5px;
    background-color: #bac9c7;
    margin-top: 5%;
}
.error{
    margin-left: 5px;
    font-size: 15px;
    color: red;
}

/* ----------- game board -----------------*/
#game{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 3000px;
}
.container{
    border-style: solid;
    border-color: green;
}
/* -----sections of the page-----*/
.other{
    height: 85%;
}
.self{
    height: 15%;
    align-items: center;
    margin-left: 10%;
}
.leftside, .rightside{
    writing-mode:vertical-lr;
}
.westleft{
    width: 30%;
}
/* -------left side----------*/
.whand{
    /* also serves the right side hand */
    height: 50%;
    width: 80%;
    margin-top: 25%;
    margin-left: 1%;
    text-align: center;
}
#leftname{
    margin-top: 5%;
    transform: rotate(180deg);
    font-weight: bold;
    font-size: 150%;
    margin-left: -5%;  /* might need some adjustment */
}
.westright{
    height: 100%;
    width: 60%;
    margin-left: 5%;
}
.wrev{
    /* also serves the right side rev */
    height: 80%;
    width: 90%;
    margin-top: 10%;
}
.wrevtiles{ 
    height: 15%;
    transform: rotate(90deg);
    margin-top: -4%;
    background-image: url(img/background.png);
    background-size: 100%;
}
/* -------right side----------*/
.eastleft{
    margin-right: 5%;
    margin-left: 1%;
    width: 60%;
}
.eastright{
    width: 30%;
}
#rightname{
    font-weight: bold;
    font-size: 150%;
    margin-left: -5%; /* might need some adjustment */
} 
.erevtiles{
    height: 15%;
    transform: rotate(-90deg);
    margin-top: -4%;
    background-image: url(img/background.png);
    background-size: 100%;
}
/* --------top side----------*/
.north{
    height: 10%;
}
.nhand{
    height: 80%;
    width: 50%;
    margin-top: 0.5%;
    margin-left: 25%;
    text-align: center;
}
#topname{
    margin-top: 2%;
    font-weight: bold;
    font-size: 150%;
}
.nrev{
    height: 80%;
    width: 80%;
}
.nrevtiles{
    height: 80%;
    background-image: url(img/background.png);
    background-size: 100%;
    transform: rotate(180deg);
}
/* --------DISCARD----------*/
.discard{
    height: 50%;
    overflow: auto;
}
.disc{
    width: 7%;
    margin-left: 2.8%;
    background-image: url(img/background.png);
    background-size: 100%;
    opacity: 30%;
}
.grab{
    border-color: pink;
    border-style: solid;
    border-radius: 5px;
    opacity: 100% !important;
}
/* --------self stuff----------*/
.rev{
    height: 20%;
}
.srev{
    height: 80%;
    margin-top: 1%;
}
.srevtiles{
    height: 80%;
    background-image: url(img/background.png);
    background-size: 100%;
}
.buttons{
    align-items: center;
    padding: 5%;
    margin-top: 2%;
}
.btn-primary{
    width: 100%;
    /* margin-left: 25%; */
    margin-top: 5%;
    background-color: gray;
    border-color: green;
}
.btn-primary:active, .btn-primary:focus{
    outline: none;
    box-shadow: none;
}
.btn-primary:hover:enabled{
    background-color:green;
}
.btn-primary:disabled{
    background-color: gray;
    opacity: 50%;
    border-color: gray;
}
.hid{
    width: 45% !important;
    margin: 2%;
}
.hand{
    height: 80%;
    background-image: url(img/background.png);
    background-size: 100%;
    margin: 0.5%;
    outline: none;
}
#hand{
    width: 90%;
}
.choose{
    border-color: lightgreen;
    border-style: solid;
    border-radius: 5px;
}
/* #c8{
    border-style: solid;
    opacity: 100%;
    border-width: 1px;
    border-color: red;
} */
/* .d-none{
    position: absolute;
} */