*{
    font-family: 'Abel';
}
#waiting{
    text-align: center;
}
#room{
    margin-top: 5%;
    font-weight: bold;
}
#players{
    display: inline-block;
    width: 50%;
}
#start{
    background-color: #3d7f50;
    border-color: black;
}
#leave{
    margin-left: 10%;
    background-color: #7e353d;
    border-color: black;
}
.list-group-item{
    border-color: black;
    border-radius: 5px;
    background-color: #bac9c7;
    margin-top: 5%;
}
.error{
    margin-left: 5px;
    font-size: 15px;
    color: red;
}