*{
    font-family: 'Abel';
}
h1 {
    margin-left: 50px;
}

.rules{
    margin-left: 30px;
}
.row{
    margin-top: 30px;
}
.ins{
    box-shadow: 5px 5px;
    width: 50%;
}
.error{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    color: red;
}
#form{
    margin-left: 25%;
    margin-top: 20px;
}
#new{
    margin-left:5px;
}
#join{
    margin-left: 15px;
}